body{
    background-image: url('filme.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}


.container{
    display: flex;
    justify-content: center;
    width: 50%;
}

.container div{
    background-color: rgb(48, 48, 48);
    margin: 9px;
    padding: 9px;
    
}

.h1{
    text-align:center;
}